@charset "UTF-8";
/* media queries paginas */
@media (max-width: 1024px) {
  /* menu media */
  .checkbtn {
    display: block; }
  .menu-icon {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  .nav-menu ul {
    display: block;
    position: fixed;
    top: 70px;
    left: -100%;
    background: darkgray;
    width: 100%;
    height: 100%;
    right: 0; }
  .nav-menu ul li {
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin: 0; }
  #check:checked ~ ul {
    left: 0; }
  .logo {
    height: 200px; }
  /* disco nuevo media */
  .grid-disconuevo {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100px 200px 200px 100px; }
  .titulodisco {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .logocd {
    grid-column: 1 / 2;
    grid-row: 3 / 4; }
  .musicacd {
    grid-column: 1 / 2;
    grid-row: 4 / 5; }
  .logodisco {
    height: 200px; }
  /* fechas */
  .fechas {
    font-size: 40px; }
  /* logos footer media */
  .logos {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 150px 25px 25px 25px 25px 100px; }
  .face {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .spotify {
    grid-column: 1 / 2;
    grid-row: 3 / 4; }
  .youtube {
    grid-column: 1 / 2;
    grid-row: 4 / 5; }
  .insta {
    grid-column: 1 / 2;
    grid-row: 5 / 6; }
  .copy {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    color: white; }
  .logos__redes {
    height: 20px; }
  /* integrantes media */
  .grid-integrantes {
    display: flex;
    padding: 0; }
  /* videos media */
  .grid-videos {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100px 200px 400px 400px 400px; }
  .titulovideos {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .video1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4; }
  .video2 {
    grid-column: 1 / 2;
    grid-row: 4 / 5; }
  .video3 {
    grid-column: 1 / 2;
    grid-row: 5 / 6; }
  /* formulario media */
  .grid-formulario {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100px 200px 400px; }
  .tituloconsulta {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .gridformulario {
    grid-column: 1 / 2;
    grid-row: 3 / 4; }
  .articulohistoria {
    display: flex; } }

* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

body {
  background-image: url(../image/fondopaginaweb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block; }

@font-face {
  font-family: "mifuente";
  src: url(../font/Rocks.png); }

.mifuente {
  font-family: "mifuente";
  font-size: 70px;
  background-color: darkgray;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin: 2px 1px;
  border-style: groove;
  border-color: black; }

/* menu */
.header {
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .nav-menu ul {
    display: flex;
    align-items: center;
    list-style: none; }
  .header .nav-menu li {
    padding: 12px 26px; }
  .header .menu-icon img {
    width: 30px;
    height: 30px;
    border-radius: 2px; }
  .header .menu-icon, .header #check {
    display: none; }
  .header .menu__lista {
    font-family: "mifuente";
    font-size: 50px;
    color: black; }

/* logos del footer */
.logos__redes {
  height: 80px; }

/* grid seccion footer */
.logos {
  display: grid;
  grid-template-columns: 30vw 10vw 10vw 10vw 10vw 30vw;
  grid-template-rows: 100px 100px 100px;
  text-align: center; }
  .logos .face {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .logos .spotify {
    grid-column: 3 / 4;
    grid-row: 2 / 3; }
  .logos .youtube {
    grid-column: 4 / 5;
    grid-row: 2 / 3; }
  .logos .insta {
    grid-column: 5 / 6;
    grid-row: 2 / 3; }
  .logos .copy {
    grid-column: 2 / 6;
    grid-row: 3 / 4;
    color: white; }

/* logo pagina principal */
.primerlogos {
  display: flex;
  justify-content: center; }
  .primerlogos .logo {
    height: 500px; }

/* tamaño logo disco */
.logodisco {
  height: 400px; }

/* grid seccion disco */
.grid-disconuevo {
  display: grid;
  grid-template-columns: 40vw 20vw 40vw;
  grid-template-rows: 100px 200px 400px;
  text-align: center;
  align-items: center; }
  .grid-disconuevo .titulodisco {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .grid-disconuevo .logocd {
    grid-column: 1 / 2;
    grid-row: 3 / 4; }
  .grid-disconuevo .musicacd {
    grid-column: 3 / 4;
    grid-row: 3 / 4; }

/* fechas recitales */
.fechas {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 60px;
  padding: 10px;
  color: white; }

/* grid seccion fechas */
.grid-fechas {
  display: grid;
  grid-template-columns: 35vw 30vw 35vw;
  grid-template-rows: 100px 200px 400px;
  text-align: center; }
  .grid-fechas .grid-shows {
    grid-column: 2 / 3;
    grid-row: 2 / 3; }
  .grid-fechas .fechas {
    grid-column: 2 / 3;
    grid-row: 3 / 4; }

/* flex integrantes */
.grid-integrantes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 100px 100px;
  margin: 80px 25px; }

/* integrantes banda */
.integrantes__fondo {
  background-color: black;
  color: white;
  font-size: 50px; }

.uno, .dos {
  color: white;
  text-align: center;
  padding: 2rem;
  margin: .5rem; }

.uno {
  background-color: #4285F4; }

.dos {
  background-color: #E67E22; }

/* historia de la banda */
.historia {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  background-color: white; }

/* flex historia */
.articulohistoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 100px 100px;
  margin: 80px 25px; }

.titulohistoria {
  padding: 50px; }

/* grid videos tsn */
.grid-videos {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100px 200px 400px 400px;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0; }

.titulovideos {
  grid-column: 1 / 3;
  grid-row: 2 / 3; }

.video1 {
  grid-column: 1 / 2;
  grid-row: 3 / 4; }

.video2 {
  grid-column: 2 / 3;
  grid-row: 3 / 4; }

.video3 {
  grid-column: 1 / 3;
  grid-row: 4 / 5; }

/* formulario */
.formulario__opciones {
  display: flex;
  margin: 0 auto;
  width: 400px; }

.formulario {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white; }

/* grid formulario */
.grid-formulario {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100px 200px 400px;
  text-align: center;
  justify-content: center; }

.tituloconsulta {
  grid-column: 1 / 2;
  grid-row: 2 / 3; }

.gridformulario {
  grid-column: 1 / 2;
  grid-row: 3 / 4; }
