*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-image: url(../image/fondopaginaweb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}